<nav>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/beer">Reviews</a>
		</li>
		<li>
			<a href="/beer/new">Review A New Beer</a>
		</li>
		<li>
			<a href="/user">Profile</a>
		</li>
	</ul>
</nav>