<nav class='partialNav'>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/beer">Beers</a>
		</li>
		<li>
			<a href="/beer/new">Make A Review</a>
		</li>
		<li>
			<a href="/user">Profile</a>
		</li>
	</ul>
</nav>