<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <a class='a' href="/">
        <button class="btn  btn-outline-success" type="button">
    	   Home
        </button>
    </a>
    <a href="/beer">
        <button class="btn btn-outline-success" type="button">
    	   Beers
        </button>
    </a>
    <a href="/user">
        <button class="btn btn-outline-success" type="button">
        	Profile
        </button>
    </a>
    <a href="/beer/new">
        <button class="btn btn-outline-success" type="button">
        	Review
        </button>
    </a>
  </form>
</nav>