<!-- <nav class="navbar navbar-light bg-faded">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/beer">Beers</a>
		</li>
		<li>
			<a href="/beer/new">Make A Review</a>
		</li>
		<li>
			<a href="/user">Profile</a>
		</li>
	</ul>
</nav> -->


<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <button class="btn  btn-outline-success" type="button">
    	<a class='a' href="/">Home</a>
    </button>
       <button class="btn btn-outline-success" type="button">
    	<a href="/beer">Beers</a>
    </button>
       <button class="btn btn-outline-success" type="button">
    	<a href="/beer/new">Make A Review</a>
    </button>
       <button class="btn btn-outline-success" type="button">
    	<a href="/user">Profile</a>
    </button>
  </form>
</nav>