<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/nav %>
	<header>
		<h1 class='top-page-text'>Welcome to CRUDy Beer Reviews!</h1><br><br>
	</header>
	<% if(!logged){%>
		<form action='/user/login' method='POST'>r
			<p>Username: <br><input type="text" name="username"></p>
			<p>Password:<br> <input type="password" name="password"></p>
			<button class="btn btn-outline-success" >Login</button>
			<p><%=loginMessage%></p>
		</form>
		<button class="btn loginBtn btn-outline-success" >
			<a href="/user/register">Create New Account</a>
		</button>

	<%}%>
	<% if(logged){%>
		<form action='/user/logout' method='POST'>
			<input class="btn btn-outline-success" type="submit" value="Logout">
		</form>
	<%}%>
</body>
</html>