<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
	<% include partials/nav %>
	<header>
		<h1 class='top-page-text'>Welcome to CRUDy Beer Reviews!</h1>
	</header>
	<% if(!logged){%>
		<h3>Login</h3>
		<form action='/user/login' method='POST'>
			Username: <input type="text" name="username">
			Password: <input type="password" name="password">
			<button class="btn btn-outline-success" >Login</button>
			<%=loginMessage%>
		</form>
		<button class="btn btn-outline-success" >
			<a href="/user/register">Create New Account</a>
		</button>
	<%}%>
	<% if(logged){%>
		<form action='/user/logout' method='POST'>
			<input class="btn btn-outline-success" type="submit" value="Logout">
		</form>
	<%}%>
</body>
</html>