<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Welcome to CRUDy Beer Reviews!</h1>
		<% include partials/nav %>
	</header>
	<% if(!logged){%>
		<h3>Login</h3>
		<form action='/user/login' method='POST'>
			Username: <input type="text" name="username">
			Password: <input type="password" name="password">
			<button>Login</button>
			<%=loginMessage%>
		</form>
		<button>
			<a href="/user/register">Create New Account</a>
		</button>
	<%}%>
	<% if(logged){%>
		<form action='/user/logout' method='POST'>
			<input type="submit" value="Logout">
		</form>
	<%}%>
</body>
</html>