<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<header>
		<h1 class='top-page-text'> Beer Menu </h1>
	</header>
	<h2>List Of Beers</h2>
	<div class="card-deck">
		<%beers.forEach((beer)=>{%>
			<div class="card">
				<a href="/beer/<%=beer._id%>">
				    <img class="card-img-top" src="<%=beer.breweryImg%>" alt="Card image cap">
				    <div class="card-block">
					    <h4 class="card-title"><%= beer.name%></h4>
				    </div>
				    <h4 class='card-text'>Rating</h4>
				    <img class='card-rating' src="/images/stars/<%=beer.rating%>.png">
				</a>
			</div>
		<%})%>
	</div>
</body>
</html>