<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>
		<h1> Beer Menu </h1>
		<% include ../partials/nav %>
	</header>
	<h2>List Of Beers</h2>
	<ul>
		
	</ul>








</body>
</html>