<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>
		<h1> Beer Menu </h1>
		<nav>
			<ul>
				<li>
					<a href="#">This redirects profile page</a>
				</li>
				<li>
					<a href="/beer/new">Create a new Beer</a>
				</li>
			</ul>
		</nav>
	</header>
	<h2>List Of Beers</h2>
	<ul>
		
	</ul>








</body>
</html>