<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<header>
		<h1> Beer Menu </h1>
	</header>
	<h2>List Of Beers</h2>
	<div class="card-deck">
		<%beers.forEach((beer)=>{%>
			<div class="card">
			    <img class="card-img-top" src="<%=beer.breweryImg%>" alt="Card image cap">
			    <div class="card-block">
				    <h4 class="card-title"><%= beer.name%></h4>
				    <h4 class="card-text">Rating: <%= beer.rating%>/5</h4>
				    <button id='card-btn'>
				    	<a href="/beer/<%=beer._id%>" class='card-link'>Read More</a>
				    </button>
			    </div>
			</div>
		<%})%>
	</div>
</body>
</html>