<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<header>
		<h1> Beer Menu </h1>
		<% include ../partials/nav %>
	</header>
	<h2>List Of Beers</h2>

	<%beers.forEach((beer)=>{%>
		<a href="/beer/<%=beer._id%>">
			Name: <%= beer.name%><br>
			<%= beer.type%>
			<%= beer.rating%>
		</a>
		<br><br>
	<%})%>
	





</body>
</html>