<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body class='newHead'>
	<% include ../partials/nav %>
	<header class='newHeader'>
		<h1 class='top-page-text'>Add New Beer!</h1>
	</header>
	<main class='new'>
		<form action="/beer/new" method="POST">
			<div class="container"'>
				<div class='row'>
					<div class="col-sm-6">
						<h4>The Name Of Your New Beer</h4>
						<input type="text" name="name">
					</div>
					<div class='col-sm-6'>
						<h4>Beer Type (Lager, IPA, etc.)</h4>
						<input type="text" name="type">
					</div>
				</div>
				<div class='row'>
					<div class='col-sm-6'>
						<h4>ABV</h4>
						<input type="text" name="abv" value='%'>
					</div>
					<div class="col-sm-6">
						<h4>Brewery</h4>
						<input type="text" name="brewery">
					</div>
				</div>
				<div class='row'>	
					<div class='col-sm-6'>
						<h4>Brewery Picture</h4>
						<input type="text" name="breweryImg">
					</div>
					<div class='col-sm-6 flex-container'>
						<h4>Rate This Beer!</h4>
						<div id="rateYo"></div>
						<input class='rating' type="hidden" name="rating" value='0'>
					</div>
				</div>		
				<div>
					<h4>Comments About This Beer</h4>
					<textarea name="review" placeholder="Review goes here..."></textarea>
					<input type="hidden" name="reviewedBy" value="<%=username%>"><br>
				</div>
			</div>
			<input class="btn btn-outline-success" type="submit" value='Submit'>	
		</form>
		<p><%=errorMessage%></p>
	</main>

</body>
</html>
