<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Add New Beer!</h1>
		<nav>
			<ul>
				<li>
					<a href="/beer">Back to Beer List</a>
				</li>
				<li>
					<a href="#">Back to profile</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<form action="/beer" method="POST">
			<input type="submit" name="Beer Name"><br>
			<textarea name="body"></textarea><br>
			<input type="submit" name="Submit New Beer">			
		</form>
		
	</main>

</body>
</html>