<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Add New Beer!</h1>
		<nav>
			<ul>
				<li>
					<a href="/beer">Beer Reviews</a>
				</li>
				<li>
					<a href="#">Profile Page</a>
				</li>
			</ul>
		</nav>
	</header>

</body>
</html>