<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/nav %>
	<header>
		<h1 class='top-page-text'>Create Account</h1>
	</header>
	<form action='/user/register' method='POST'>
		<p>Username: <br><input type="text" name="username"></p>
		<p>Password:<br> <input type="password" name="password"></p>
		<button class="btn  btn-outline-success" type="submit">Create</button>
	</form>
	<%=loginMessage%>
</body>
</html>