body {
  margin: auto 0;
}
.navbar {
  border-style: solid;
  border-bottom-color: green;
  margin-top: 1%;
  text-align: center;
}
.navbar a:link {
  text-decoration: none;
  color: yellow;
}
.form-inline button {
  border: 4px solid #FFF;
  background-color: rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
  box-shadow: inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
}
.new {
  text-align: center;
}
.newHeader {
  text-align: center;
}
.newHead {
  background-color: ;
}
