@text-align: center;
@green: green;
@red: red;



body {
	
	margin: auto 0;

}

.navbar{
	border-style: solid; 
	// border-width: 0 0 5px 0;
	border-bottom-color: @green;
	margin-top: 1%;
	text-align: @text-align;
	


	a:link{
		text-decoration: none;
		// text-transform: uppercase;
		color: yellow;
	}

	a:hover{
		


	}

	
}

.form-inline{

	button{

		border: 4px solid #FFF;
  		background-color: rgba(0,0,0,.34);
  // 		background-position: 0 -50%;
  // 		background-repeat: repeat-x;
  // 		border-radius: 100px;
  // 		-webkit-box-shadow: inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
		// -moz-box-shadow:    inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
		// box-shadow:         inset 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
		// transition: background-position .75s ease;
}
	}
}

.new{


	text-align: @text-align;

}

.newHeader{

	text-align: @text-align;

}

.newHead{

	// background-color: @red;
	background-color: ;
}
