@text-align: center;
@green: green;
@red: red;



body {
	
	margin: auto 0;
<<<<<<< HEAD

}

.partialNav{
	border-style: solid; 
	border-width: 0 0 5px 0;
	border-bottom-color: @green;
	margin-top: 1%;

	ul{
		margin-bottom: 1%;
	}  
	
	li{
		display: inline;
		margin-left: 17.5%;


	}
}


.new{


	text-align: @text-align;

}

.newHeader{

	text-align: @text-align;

}

.newHead{

	// background-color: @red;


}















=======
	background-color: green;
}
>>>>>>> 25a79f879415268c0ef2b3975b102194e51e4058
