body {
  margin: auto 0;
  text-align: center;
  /* Full height */
  height: 100%;
  background-image: url("../images/cardBackground.jpg");
}
.navbar {
  border-style: solid;
  margin-top: 1%;
  text-align: center;
}
.navbar a:link {
  text-decoration: none;
}
.navbar a {
  color: black;
}
.btn {
  overflow: hidden;
  font-weight: 700;
  text-decoration: none;
  background-color: rgba(203, 89, 9, 0.9);
  background-position: 0 -50%;
  background-repeat: repeat-x;
  border-radius: 50px;
  box-shadow: inset 2px 3px 0px 0px rgba(50, 50, 50, 0.75);
  transition: background-color 1000ms;
}
.btn:hover {
  background-color: rgba(255, 251, 177, 0.5);
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background: rgba(106, 44, 12, 0.5);
  flex-basis: 20%;
  color: white;
  text-align: center;
  border-style: outset;
  border-radius: 6%;
  margin: .5%;
  font-size: 100%;
}
.card .card-text {
  font-size: 200%;
}
.card .card-title {
  font-size: 300%;
}
.card .card-img-top {
  border-radius: 6% 6% 0% 0%;
}
.new {
  margin-top: 10%;
  color: rgba(27, 16, 13, 0.7);
}
