body {
  margin: auto 0;
  text-align: center;
  /* Full height */
  height: 100%;
  background-image: url("../images/cardBackground.jpg");
  font-family: 'Trocchi', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
p {
  color: white;
  font-size: 155%;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.row1,
.row2,
.row3 {
  display: flex;
  flex-direction: row;
}
.col1,
.col2 .col3 {
  display: flex;
  flex-direction: column;
}
.top-page-text {
  font-family: 'Lobster', cursive;
  font-size: 600%;
}
a {
  color: black;
}
a:link {
  text-decoration: none;
}
.navbar {
  border-style: solid;
  margin-top: 1%;
  text-align: center;
}
.navbar a:link {
  text-decoration: none;
}
.btn {
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  background-color: rgba(255, 251, 177, 0.7);
  background-position: 0 -50%;
  background-repeat: repeat-x;
  border-radius: 50px;
  box-shadow: inset 4px 3px 0px 0px rgba(106, 44, 12, 0.7);
  transition: 750ms;
  color: black;
}
.btn:hover {
  background-color: rgba(203, 89, 9, 0.7);
  color: white;
}
.btn:hover a {
  color: white;
}
.btn:focus {
  outline: 0;
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  justify-content: center;
  height: 375px;
  background: rgba(106, 44, 12, 0.7);
  flex-basis: 27%;
  color: white;
  text-align: center;
  border-style: outset;
  border-radius: 6%;
  margin: .5%;
  font-size: 100%;
}
.card .card-text {
  font-size: 200%;
}
.card .card-title {
  font-size: 300%;
}
.card .card-img-top {
  border-radius: 25px;
  margin-top: 1%;
}
.card .card-block {
  flex-direction: column;
  display: flex;
  height: 170px;
  align-self: center;
}
.card .card-rating {
  width: 200px;
  height: auto;
}
.card a {
  text-decoration: none;
}
.new {
  margin-top: 10%;
  color: rgba(27, 16, 13, 0.7);
}
